<div id="ytapiplayer">
    You need Flash player 8+ and JavaScript enabled to view this video.
</div>

<script type="text/javascript">
    var params = { allowScriptAccess: "always" };
    var atts = { id: "ytplayer" };
    swfobject.embedSWF("http://www.youtube.com/apiplayer?enablejsapi=1&playerapiid=ytplayer&version=3", "ytapiplayer", "425", "356", "8", null, null, params, atts);
</script>

<div class="container span6">
  <div id="associated_content" class="well" style="margin:0 20px"></div>
  <a id="ytplayer"></a>
</div>

<script>

var associated_content;
var player;
var video_ids;
var video_titles;

function onYouTubePlayerReady(playerId) {
  video_ids = <%= raw @item_link_ids.to_json %>;
  video_titles = <%= raw @item_titles.to_json %>;
  video_descriptions = <%= raw @item_descriptions.to_json %>;
  console.log(video_ids);
  player = document.getElementById("ytplayer");
  player.loadPlaylist({playlist:video_ids, index:0, startSeconds:0, suggestedQuality:'medium'});   
  player.addEventListener('onStateChange', 'onYouTubePlayerStateChange');
}

function onYouTubePlayerStateChange(newState) {
   console.log("Player's new state: " + newState);
  if(newState == 3) {
     //video is in buffering state
     console.log("reached buffering state");
     associated_content = "temp content";  
   }
   else if(newState == 1) {
     //video is in playing state
     console.log("reached playing state");
     if(player) {
       url = player.getVideoUrl();
       id = (url.split("v=")[1]).split('&')[0];
       index = video_ids.indexOf(id);
       associated_content = "<div><h3>" + video_titles[index] + "</h3><p>" + video_descriptions[index] + "</p></div>";
       console.log(url + " and the id is " + id + "and title is" + associated_content);
       $("#associated_content").html(associated_content);
     }
   }
}

</script>
