<div class="container">
  <div class="well span6" style="background-color:#2c2c2c;color:#eee;border:none">
    Welcome publishers, you can add a piece of content to display on a channel here!</h1>
  </div>
  <div class="well span6">
    <h3>Add a new piece of content</h3>
    <%= render 'form' %>
  </div>
</div>
